POSTGRES_USER="test_user"
POSTGRES_PASSWORD="pg_password"
POSTGRES_SERVER="localhost"
POSTGRES_PORT="5432"
POSTGRES_DB="pgdb"
PGDATA="/var/lib/postgresql/data/pgdata"
IS_VERIFIED="true"
ACCESS_LIFETIME_SECONDS=3600
ENV_MODE="local"
LOG_LEVEL="WARNING"
SECRET="32b38508-8b49-4845-90ca-4dbeefce9999"
# Redis
REDIS_SERVER="redis_container"
# Chirpstack Integration
CHIRPSTACK_API_BASEURL="localhost"
CHIRPSTACK_API_KEY="32b38508-8b49-4845-90ca-4dbeefce9999"
DEFAULT_APPLICATION_ID="32b38508-8b49-4845-90ca-4dbeefce9999"
TENANT_ID="32b38508-8b49-4845-90ca-4dbeefce9999"
